<footer class="container py-5">
    <div class="row">
        <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
                <li>Project planning</li>
                <li>Calculate project time estimate</li>

            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Developer tools</h5>
            <ul class="list-unstyled text-small">
                <li>Intellij Idea</li>
                <li>Language: Java</li>
                <li>HTML & CSS</li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Business inquiries</h5>
            <ul class="list-unstyled text-small">
                <li>kea@kea.dk</li>
                <li>Phone number</li>
                <li>Address: Guldbergsgade 29n</li>

            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Team</h5>
            <ul class="list-unstyled text-small">
                <li>Kevin Funch</li>
                <li>Jonas Munk</li>
                <li>Michael Dyvad</li>
                <li>Lars Brogaard</li>
            </ul>
        </div>
    </div>
</footer>