<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

</head>
<body>


<div>
    <h1>Login</h1>
    <div>
        <form id="login-form" method="POST" action="/login">

            <label for="email">E-mail</label>
            <input name="input-email" id="email" type="text">

            <label for="password">Password</label>
            <input type="password" name="input-password" id="password">

            <button type="submit">Login</button>
        </form>
    </div>
</div>



</body>
</html>